@model List<Employee>
@{
    var user = Context.User;
    var isSuperAdmin = user.IsInRole("SuperAdmin");
    var isLoggedIn = user.Identity.IsAuthenticated;
}

<div class="container my-4">
    <div class="row">
        <div class="col-12 col-md-6">
            <h1>Employee List</h1>
        </div>
        <div class="col-12 col-md-6 text-md-right">
            @if (isLoggedIn && (isSuperAdmin || user.Identity.Name == "Admin"))
            {
                <a href="@Url.Action("Create", "Employee")" class="btn btn-primary">Create</a>
            }
            
        </div>
    </div>
</div>

<div class="container">
    @foreach (var employee in Model)
    {
        @if (employee.EmployeeName == "Admin") continue;
        <div class="card mb-3">
            <div class="card-body row">
                <div class="col-12 col-md-3 text-center">
                    @if(employee.Image != null)
                    {
                        <img src="@Url.Content("~/uploads/" + employee.Image.ImageName)" alt="Employee Image" class="img-fluid rounded" />
                    }
                    else
                    {
                        <img src="@Url.Content("~/uploads/default_user.png")" alt="Default Image" class="img-fluid rounded" />
                    }
                </div>
                <div class="col-12 col-md-9">
                    <h5 class="card-title">@employee.EmployeeName</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@employee.JobTitle</h6>
                    <p class="card-text">Email: @employee.Email</p>
                    <p class="card-text">Address: @employee.Address</p>
                    <p class="card-text">Phone: @employee.Phone</p>
                    <p class="card-text">Blood Group: @employee.BloodGroup</p>
                    <p class="card-text">Project: @(employee.Project != null ? employee.Project.ProjectName : "No Project Assigned")</p>
                    <div class="mt-3">
                        @* Write code to check if this employee is the logged in employee or not *@
                        
                        @if (isLoggedIn && (isSuperAdmin || user.Identity.Name == employee.Email))
                        {
                            <a asp-action="Edit" asp-route-id="@employee.Id" class="btn btn-primary mr-2">Edit</a>
                            <a asp-action="Upload" asp-controller="Image" asp-route-id="@employee.Id" class="btn btn-primary mr-2">Upload Image</a>
                            
                        }
                        @if (isLoggedIn && isSuperAdmin )
                        {
                            <a asp-action="Delete" asp-route-id="@employee.Id" class="btn btn-danger">Delete</a>
                            
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>
