@model List<Employee>

<div class="d-flex flex-column">
    @foreach (var employee in Model)
    {
        <div class="card my-3">
            <div class="card-body">
                <h5 class="card-title">@employee.EmployeeName</h5>
                <h6 class="card-subtitle mb-2 text-muted">@employee.JobTitle</h6>
                <p class="card-text">Email: @employee.EmployeeEmail</p>
                <p class="card-text">Address: @employee.Address</p>
                <p class="card-text">Phone: @employee.Phone</p>
                <p class="card-text">Blood Group: @employee.BloodGroup</p>
                <p class="card-text">Project: @(employee.Project != null ? employee.Project.ProjectName : "No Project Assigned")</p>
                <a asp-action="Edit" asp-route-id="@employee.EmployeeId" class="btn btn-primary mr-2">Edit</a>
                <a asp-action="Upload" asp-controller="Image" asp-route-id="@employee.EmployeeId" class="btn btn-primary mr-2">Upload Image</a>
                <a asp-action="Delete" asp-route-id="@employee.EmployeeId" class="btn btn-danger">Delete</a>
                
            </div>
        </div>
    }
</div>

<a href="@Url.Action("Create", "Employee")" class="btn btn-primary">Create</a>
